<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="zh-CN">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{static_url("css/bootstrap.css")}}" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="{{static_url("css/bootstrap-responsive.css")}}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->

  </head>
  <body>
    <div class="container-fluid">
    	<div class="row-fluid">
    		<!--/span-->
    		<div class="span12">
    				<ul class="nav nav-tabs">
    					<li>
    						<a href="/manage/image">图片管理</a>
    					</li>
    					<li class="active">
    						<a href="#">新闻管理</a>
    					</li>
    					<li>
    						<a href="/manage/system">系统管理</a>
    					</li>
    				</ul>
        	    	<div class="well">
                        
                        <div>
                            <div style="display:inline-block">
                                <span> 新闻描述: </span>
                                <input id="new-news-desc" type="text" style="margin-right:10px;width:750px" />
                            </div>
                            <div style="display:inline-block">
                                <span>链接地址:</span> 
                                <input  id="new-news-target" type="text" style="margin-right:10px;width:400px" />
                            </div>
                            <a id="btn-new-news" class="btn" style="margin-top:-10px">新增</a>
                        </div>
                        <hr>
        				<table class="table" >
                            <thead>
                                <th width="60%" >新闻描述</th>
                                <th width="30%">链接地址</th>
                                <th width="10%">操作</th>
                            </thead>    
        					<tbody>
                                {% for new in news %}
        						<tr data-id="{{ new.get('nid', -1)  }}">
        							<td class="info-desc">
        								<span style="width:800px;display: inline-block;white-space:pre-wrap;word-wrap:break-word;">{{ escape(new.get('desc', '')) }}</span>
                                        <input type="text" style="width:300px;display:none" value="{{ escape(new.get('desc', '')) }}" />
        							</td>
                                    <td class="info-target" >
                                        <span  style="width:400px;display: inline-block;white-space:pre-wrap;word-wrap:break-word;"><a href="{{ escape(new.get('target', '')) }}">{{ escape(new.get('target', '')) }}</a></span>
                                        <input type="text" style="width:400px;display:none" value="{{ escape(new.get('target', '')) }}" />
                                    </td>
        							<td class="operate-btn" >
                                        <button class="btn btn-mini btn-info modify-news-btn" type="button">修改</button>
                                        <button class="btn btn-mini btn-info save-news-btn" style="display:none" type="button">保存</button>
                                        <button class="btn btn-mini btn-danger del-news-btn" type="button">删除</button>
        							</td>
        						</tr>
                                {% end %}
        					</tbody>
        				</table>
    			</div>
    			<!--/span-->
    		</div>
    	</div>
    	<!--/row-->
    	
    	<footer>
    		
    	</footer>
    </div>
    <!--/.fluid-container-->

    <style>
      
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script src="{{static_url("js/bootstrap.js")}}">
    </script>
    <script>

        function getCookie(c_name)
        {
            if (document.cookie.length>0)
            {
                c_start=document.cookie.indexOf(c_name + "=")
                if (c_start!=-1)
                { 
                    c_start=c_start + c_name.length+1 
                    c_end=document.cookie.indexOf(";",c_start)
                    if (c_end==-1) c_end=document.cookie.length
                    return unescape(document.cookie.substring(c_start,c_end))
                } 
            }
            return ""
        }
        $("#btn-new-news").click(function(){
                $.ajax({
                    type: "post",
                    url: "/manage/news",
                    data:{  "action":"new", 
                            "_xsrf":  getCookie('_xsrf'), 
                            "desc":$("#new-news-desc").val(), 
                            "target":$("#new-news-target").val() },
                    success: function(data, textStatus){
                        window.location.reload();
                    },
                    error: function(){
                        alert("添加出错，请重试");
                    }
                });
            });

        $(".del-news-btn").click(function(){
            var data = $(this).parent().parent().data();

            var r=confirm("确认删除吗？");
            if (r==true)
            {
                $.ajax({
                    type: "post",
                    url: "/manage/news",
                    data:{action:"delete", "_xsrf":  getCookie('_xsrf'), "nid":data.id},
                    success: function(data, textStatus){
                        window.location.reload();
                    },
                    error: function(){
                        alert("删除出错，请重试");
                    }
                });
              }
            else
            {
                
            }
            
            


        });


        $(".modify-news-btn").click(function(){

            $(this).parent().parent().children("td").children("span").hide();
            $(this).parent().parent().children("td").children("input").show();
            $(this).parent().parent().children("td").children(".modify-news-btn").hide();
            $(this).parent().parent().children("td").children(".save-news-btn").show();
            
        });

        $(".save-news-btn").click(function(){

            var data = $(this).parent().parent().data();
            var tr = $(this).parent().parent();
            $.ajax({
                    type: "post",
                    url: "/manage/news",
                    data:{  action:"update", 
                            "_xsrf":  getCookie('_xsrf'), 
                            "nid":data.id,
                            "desc":tr.children(".info-desc").children("input").val(), 
                            "target":tr.children(".info-target").children("input").val() },
                    success: function(data, textStatus){
                        window.location.reload();
                    },
                    error: function(){
                        alert("保存出错，请重试");
                    }
                });
            
            
            
        });

    </script>
  </body>
</html>
